---
import PuzzleBlock from "components/PuzzleBlock.astro";
import Layout from "layouts/Layout.astro";
import { getImages } from "utils/apiCalls";

Astro.response.headers.set("Vercel-CDN-Cache-Control", "max-age=300");
Astro.response.headers.set("CDN-Cache-Control", "max-age=60");

const images = await getImages();
---

<Layout title="Test" removeCols>
  <div></div>
  <main>
    <h1 class="text-3xl font-bold text-center">Test</h1>
    <section class="flex flex-wrap justify-center gap-2 py-2">
      {
        images?.map((image) => {
          return <PuzzleBlock image={image.urls.regular} />;
        })
      }
    </section>
  </main>
</Layout>
