---
import { Icon } from "astro-icon/components";
import Layout from "layouts/Layout.astro";
---

<Layout title="Test">
  <main>
    <section class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold">Test</h1>
      <p class="mt-4">
        This
        <a href="https://images.marcomadera.com">site</a> is not working. Refresh
        and see again.
      </p>
      <div class="mt-8">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          id="toastinfo"
        >
          Info
        </button>
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          id="toastsuccess"
        >
          Success
        </button>
        <button
          class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
          id="toastwarning"
        >
          Warning
        </button>
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          id="toasterror"
        >
          Error
        </button>
        <Icon name="ep:warn-triangle-filled" size={24} />
      </div>
    </section>

    <script>
      import { ToastTypes } from "types/toast";
      import { onSwup } from "utils";

      onSwup("visit:end", () => {
        document
          .getElementById("toastinfo")
          ?.addEventListener("click", function () {
            window.toast({
              message: "This is an info toast",
              type: ToastTypes.INFO,
            });
          });

        document
          .getElementById("toastsuccess")
          ?.addEventListener("click", function () {
            window.toast({
              message: "This is a success toast",
              type: ToastTypes.SUCCESS,
            });
          });

        document
          .getElementById("toastwarning")
          ?.addEventListener("click", function () {
            window.toast({
              message: "This is a warning toast",
              type: ToastTypes.WARNING,
            });
          });

        document
          .getElementById("toasterror")
          ?.addEventListener("click", function () {
            window.toast({
              message: "This is an error toast",
              type: ToastTypes.ERROR,
            });
          });
      });
    </script>
  </main>
</Layout>
