---
import Layout from "layouts/Layout.astro";
---

<Layout title="Test">
  <main>
    <section class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold">Test</h1>
      <p class="mt-4">
        This
        <a href="https://images.marcomadera.com">site</a> is not working. Refresh
        and see again.
      </p>
    </section>
  </main>
</Layout>
