---

---

<div
  class="mt-4 font-bold text-xl text-center mb-1 dark:text-neutral-50 transition"
>
  Splitter
</div>
<div class="relative z-10 mb-16">
  <div class="flex flex-col items-center justify-center">
    <label class="dark:text-neutral-50">
      Grid X
      <input
        type="number"
        placeholder="Grid X"
        id="gridX"
        class="border border-gray-300 rounded-md p-2 mb-2 text-black"
        value="3"
        min="2"
      />
    </label>
    <label class="dark:text-neutral-50">
      Grid Y
      <input
        type="number"
        placeholder="Grid Y"
        id="gridY"
        class="border border-gray-300 rounded-md p-2 mb-2 text-black"
        value="3"
        min="2"
      />
    </label>
    <button
      id="downloadButton"
      disabled
      class="btn-regular tabbable px-4 py-3 cursor-pointer inline-flex items-center justify-center rounded-lg font-medium transition-[transform,background-color] duration-100 active:scale-105 md:px-6 disabled:!cursor-not-allowed disabled:bg-opacity-60 disabled:text-opacity-60"
      >Download
    </button>
  </div>
</div>
