---

---

<div class="flex flex-col">
  <div class="space-y-16 text-center">
    <div class="relative z-10 mb-16">
      <div class="flex flex-col items-center justify-center min-h-96">
        <input
          type="file"
          id="imageInput"
          class="border border-gray-300 rounded-md p-2 mb-2"
        />
        <div
          id="imageContainer"
          class="flex mt-4 max-w-3xl w-full relative min-h-[40rem] max-h-[40rem] justify-center items-center"
        >
        </div>
      </div>
    </div>
  </div>
</div>
